.DS_Store
__pycache__/

data-transcripts/
data-csr/

*.props
*.mod
*.npy
*.pickle
*.ipynb

# ignore by filesize? e.g. "find . -size +100M | cat >> .gitignore" OR "find * -size +100M | cat >> .gitignore" to exclude files from .git